<div class="card" style="width: 18rem;" *ngIf="userInfo && flightInfo">
  <div class="card-body">
    <div class="card-header">
      <p><b>Flight number: {{ userInfo.flightId }} {{flightInfo.from}}-{{flightInfo.to}}</b></p>
      <p>{{flightInfo.date | date:'MMM dd, yyyy hh:mm'}}</p>
    </div>
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <button class="btn btn-primary">Go somewhere</button>
  </div>
</div>