<div class="container">
  <!-- <div class="container spinner" *ngIf="loading">
    <div class="spinner-grow text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div> -->
  <div class="container">
    <button type="button" class="btn btn-outline-secondary" (click)="decrease()"><</button>
    <ng-container *ngFor="let flight of flightsRequest; index as i">
      <app-carousel-item [flight]="flight" [ngClass]="{'third-item': i === 2}">
      </app-carousel-item>
    </ng-container>
    <button type="button" class="btn btn-outline-secondary" (click)="increase()">></button>
  </div>
</div>
  