.container  {
    margin-top: 30px;
    display: flex;
    max-width: 1440px;
    width: 100%;
    flex-direction: column;
}

.carousel_container {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    margin-top: 30px;
}

.third-item {
    margin-top: -20px;
    background-color: rgba(127, 255, 212, 0.252);
  }

.btn-container {
    margin-top: 20px;
    display: flex;
    max-width: 100%;
    justify-content: right;
    gap: 10px;
}