<div class="container">
  <div class="carousel_container">
    <button type="button" class="btn btn-outline-secondary" (click)="decreaseFrom()"><</button>
    <ng-container *ngFor="let flight of flightsRequestFrom; index as i">
      <app-carousel-item [flight]="flight" [ngClass]="{ 'third-item': i === 2 }">
      </app-carousel-item>
    </ng-container>
    <button type="button" class="btn btn-outline-secondary" (click)="increaseFrom()">></button>
  </div>
  <div class="container">
    <app-chosed-carousel-item
      [flight]="flightsRequestFrom[2]"
      [flightType]="'from'"
    ></app-chosed-carousel-item>
  </div>
  <button (click)="selectToFlight()" type="button" class="btn btn-success select-btn">
    Select
  </button>
  <div *ngIf="selectedWay$ | async" class="carousel_container">
    <button type="button" class="btn btn-outline-secondary" (click)="decreaseTo()"><</button>
    <ng-container *ngFor="let flight of flightsRequestTo; index as i">
      <app-carousel-item [flight]="flight" [ngClass]="{ 'third-item': i === 2 }">
      </app-carousel-item>
    </ng-container>
    <button type="button" class="btn btn-outline-secondary" (click)="increaseTo()">></button>
  </div>
  <div *ngIf="selectedWay$ | async" class="container">
    <app-chosed-carousel-item
      [flight]="flightsRequestTo[2]"
      [flightType]="'to'"
    ></app-chosed-carousel-item
    ><button (click)="selectReturnFlight()" type="button" class="btn btn-success select-btn">
      Select
    </button>
  </div>
  <div class="btn-container">
    <button type="button" class="btn btn-secondary">Cancel</button>
    <button
  type="button"
  [attr.disabled]="(isNextButtonEnabled$ | async) ? null : 'disabled'"
  class="btn btn-primary"
>
  Next
</button>
  </div>
</div>
