<div class="card">
  <div class="card-header">Adult</div>
  <div class="card-body">
    <form class="passenger-form-container card" [formGroup]="passengerControl">
      <input
        class="form-control"
        placeholder="First Name"
        type="text"
        formControlName="firstName"
      />
      <input class="form-control" placeholder="Last Name" type="text" formControlName="lastName" />
      <div class="input-group mb-3">
        <div class="btn-group">
          <input
            formControlName="sex"
            type="radio"
            class="btn-check"
            name="sex"
            value="male"
            id="male"
            autocomplete="off"
            checked
          />
          <label class="btn btn-success" for="male">Male</label>
          <input
            formControlName="sex"
            type="radio"
            class="btn-check"
            name="sex"
            value="female"
            id="female"
            autocomplete="off"
          />
          <label class="btn btn-success" for="female">Female</label>
        </div>
        <input
          class="form-control"
          placeholder="yyyy-mm-dd"
          name="dp"
          ngbDatepicker
          #d="ngbDatepicker"
          formControlName="dateOfBirth"
        />
        <button
          class="btn btn-outline-secondary bi bi-calendar3"
          (click)="d.toggle()"
          type="button"
        ></button>
      </div>
    </form>
  </div>
</div>
