<nav class="navbar" [ngClass]="{ 'white-header': (actualStep$ | async)! > 0 }">
  <div class="nav-items-container">
    <div class="logo">
      <a class="navbar-brand" href="#"
        ><img class="img-logo" src="../../../../assets/logo.png" alt=""
      /></a>
    </div>
    <app-breadcrumb class="item2"></app-breadcrumb>
    <div class="nav-items">
      <!-- <div class="card-dates">
        <div class="d-inline-block" ngbDropdown #myDropDate="ngbDropdown">
          <button
            type="button"
            [ngClass]="{ 'custom-outline-color-white': (actualStep$ | async)! > 0 }"
            class="btn btn-outline-primary custom-outline-color me-2"
            id="dropdownManual"
            ngbDropdownAnchor
            (focus)="myDropDate.open()"
          >
            {{ selectedFormsOfDates$ | async }}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownManual">
            <button
              ngbDropdownItem
              *ngFor="let date of formsOfDates"
              (click)="selectFormOfDate(date.name)"
            >
              {{ date.name }}
            </button>
          </div>
        </div>
      </div> -->
      <div class="card-valutes">
        <div class="d-inline-block" ngbDropdown #myDropValute="ngbDropdown">
          <button
            type="button"
            [ngClass]="{ 'custom-outline-color-white': (actualStep$ | async)! > 0 }"
            class="btn btn-outline-primary custom-outline-color me-2"
            id="dropdownManual"
            ngbDropdownAnchor
            (focus)="myDropValute.open()"
          >
            {{ selectedValute$ | async }}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownManual">
            <button
              ngbDropdownItem
              *ngFor="let valute of valutes"
              (click)="selectValute(valute.name)"
            >
              {{ valute.name }}
            </button>
          </div>
        </div>
      </div>
      <div class="login">
        <button *ngIf="!loginStatus" class="btn btn-outline-primary mb-2 me-2" (click)="openVerticallyCentered(registrationModal)">
          <p>Login</p>
        </button>
        <p>Hello, {{userEmail}}</p>
      </div>
    </div>
  </div>
</nav>
<ng-template #registrationModal let-modal>
  <div class="modal-header">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-primary" (click)="toLogin()">Log In</button>
      <button type="button" class="btn btn-primary" (click)="toRegistration()">Registration</button>
    </div>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <app-sign-in *ngIf="loginOrRegistration"></app-sign-in>
    <app-sign-up *ngIf="!loginOrRegistration"></app-sign-up>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
