<nav class="navbar">
  <div class="nav-items-container">
    <div class="logo">
      <a class="navbar-brand" href="#"><img class="img-logo" src="../../../../assets/logo.png" alt="" /></a>
    </div>
    <div class="nav-items">
      <div class="card-dates">
        <div class="d-inline-block" ngbDropdown #myDropDate="ngbDropdown">
          <button type="button" class="btn btn-outline-primary custom-outline-color me-2" id="dropdownManual"
            ngbDropdownAnchor (focus)="myDropDate.open()">
            {{ selectedFormsOfDates.name }}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownManual">
            <button ngbDropdownItem *ngFor="let date of formsOfDates" (click)="selectedFormsOfDates = date">
              {{ date.name }}
            </button>
          </div>
        </div>
      </div>
      <div class="card-valutes">
        <div class="d-inline-block" ngbDropdown #myDropValute="ngbDropdown">
          <button type="button" class="btn btn-outline-primary custom-outline-color me-2" id="dropdownManual"
            ngbDropdownAnchor (focus)="myDropValute.open()">
            {{ selectedValute.name }}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownManual">
            <button ngbDropdownItem *ngFor="let valute of valutes" (click)="selectedValute = valute">
              {{ valute.name }}
            </button>
          </div>
        </div>
      </div>
      <div class="login">
        <!-- <button mat-stroked-button [matMenuTriggerFor]="beforeMenu">Sign In</button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
          <p>here will be pop-up with login</p>
        </mat-menu> -->
      </div>
    </div>
  </div>
</nav>