.container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: left;
    margin-top: 62px;
}

form {
    padding: 24px;
    display: flex;
    background-color: #fff;
    width: 580px;
    height: 390px;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 8px;
    flex-direction: column;
    position: relative;

    .submit-btn {
        margin-top: 10px;
    }

    
}
