<!-- <div class="container">
  <form [formGroup]="searchFormGroup" (ngSubmit)="submit()">
    <div class="radio-checkbox-container">
      <div class="radio-checkbox">
        <p-radioButton name="selectedWay" value="Round Trip" formControlName="selectedWay"></p-radioButton>
        <label class="ml-2">Round Trip</label>
      </div>
      <div class="radio-checkbox">
        <p-radioButton name="selectedWay" value="One Way" formControlName="selectedWay"></p-radioButton>
        <label class="ml-2">One Way</label>
      </div>
    </div>
    <p-dropdown [editable]="true" placeholder="From" formControlName="fromCity" [options]="cities" optionLabel="name"></p-dropdown>
    <p-dropdown [editable]="true" placeholder="Destination" formControlName="toCity" [options]="cities" optionLabel="name"></p-dropdown>
    <p-button type="submit" label="Submit"></p-button>
  </form>
</div> -->