<div class="passanders-container">
    <div class="passangers-item">
      <div class="title">
        <p class="title-item">Adults</p>
        <p class="description">14+ years</p>
      </div>
      <div class="picker-container">
        <button type="button"
        class="btn btn-outline-primary">+</button>
        <p>1</p>
        <button type="button"
        class="btn btn-outline-primary">-</button>
      </div>
    </div>
    <div class="passangers-item">
      <div class="title">
        <p class="title-item">Child</p>
        <p class="description">2-14 years</p>
      </div>
      <div class="picker-container">
        <button type="button"
        class="btn btn-outline-primary">+</button>
        <p>1</p>
        <button type="button"
        class="btn btn-outline-primary">-</button>
      </div>
    </div>
    <div class="passangers-item">
      <div class="title">
        <p class="title-item">Infant</p>
        <p class="description">0-2 years</p>
      </div>
      <div class="picker-container">
        <button type="button"
        class="btn btn-outline-primary">+</button>
        <p>1</p>
        <button type="button"
        class="btn btn-outline-primary">-</button>
      </div>
    </div>
  </div>