body {
  font-family: var(--font-family);
  background-image: url(../src/assets/background.jpg);
  background-size: cover;
  margin: 0;
  padding: 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
