.card {
    width: 100%;
    max-width: 600px; /* Ширина формы */
    margin: 0 auto; /* Центрирование формы по горизонтали */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .card-body {
    padding: 0;
  }
  
  .passenger-form-container {
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* Стили для .input-group и .radio-container */
  .input-group, .radio-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
  }
  
  /* Стили для radio-кнопок */
  .btn-check {
    display: none;
  }
  
  .btn-check:checked + label {
    background-color: #005804;
    color: #fff;
    border-color: #005804;
  }
  