<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <div class="formGroup input-group">
        <span class="input-group-text" id="username">✉️</span>
        <input
          type="text"
          class="formControl form-control"
          placeholder="Username"
          aria-describedby="username"
          #userName
          required
        />
        <span class="input-group-text" id="password">🔐</span>
        <input
          type="password"
          class="formControl form-control"
          placeholder="Password"
          aria-describedby="password"
          #userPassword
          required
        />
      </div>
      <div class="formGroup btn-container">
        <input
          type="button"
          class="btn btn-success"
          value="Log in"
          (click)="authService.SignIn(userName.value, userPassword.value)"
        />
      </div>
    </div>
  </div>
</div>
