<div class="radio-checkbox-container">
  <div class="radio-checkbox">
    <input
      mdbRadio
      class="form-check-input"
      type="radio"
      name="flexRadioDefault"
      id="flexRadioDefault1"
      [checked]="(selectedWay$ | async) === true"
      (change)="onRadioChange(true)"
    />
    <label class="form-check-label" for="flexRadioDefault1">Round Trip</label>
  </div>
  <div class="radio-checkbox">
    <input
      mdbRadio
      class="form-check-input"
      type="radio"
      name="flexRadioDefault"
      id="flexRadioDefault2"
      [checked]="(selectedWay$ | async) === false"
      (change)="onRadioChange(false)"
    />
    <label class="form-check-label" for="flexRadioDefault2">One way</label>
  </div>
</div>
