.container {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}
.info_container {
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.img {
    font-size: 40px;
}
