<p class="breadcrumb" *ngIf="(actualStep) === 0">Book flights</p>
<div class="stepper" *ngIf="(actualStep) === 1">
    <div class="step">
      <div class="step-number">1</div>
      <div class="step-label">Fill out your name</div>
    </div>
    <div class="step">
      <div class="step-number">2</div>
      <div class="step-label">Fill out your address</div>
    </div>
    <div class="step">
      <div class="step-number">3</div>
      <div class="step-label">Done</div>
    </div>
</div>
  
  
  
  
  
  
